* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #243763;
    color: #fff;
    padding: 1rem;
	text-align: center;
	/* margin-bottom: 2rem; */
}

h1{
    font-size: 3.5rem;
    line-height: 1.5;
    /* color: #FFFFFFBF; */
}

h2{
    font-size: 2.5rem;
    line-height: 1.5;
    font-family: 'Ubuntu', sans-serif;
}


/* Navbar Section */
#navbar{
    font-size: 1.2rem;
}

.container-fluid{
    padding: 5% 15% 3%;
}


.hackdays{
    padding: 0px 10px;
    font-size: 1.5rem;
    color: aliceblue;
}

.navbar-brand{
    margin-right: 10px;
    margin-top: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

/* nav {
    display: flex;
    justify-content: space-between;
	text-align: center;
} */

/* nav ul {
    display: flex;
    list-style: none;
	margin-top: 1rem;
	text-align: center;
} */

nav ul li a {
    color: #fff;
    padding: 1rem;
	text-align: center;
    text-decoration: none;
} 

/* main {
    padding: 1rem;
} */


/* Home */
#home{
    background-color: #fff;
    color: #243763;
    padding: 80px 0;
}

.title-col{
    text-align: center;
}

.title-image{
    width: 100%;
    position: relative;
    right: 0px;
    left: 50px;
}

/* About */
#about{
    background-color: #fff;
    color: #243763;
    line-height: 2.5;
}

.abt-hackdays p, .abt-hackdays ul{
    font-size: 1rem;
    color: #243763;
}

.abt-hackdays{
    padding: 3% 5%;
}

/* Themes */
#theme{
    background-color: #243763;
    color: #fff;
    text-align: center;
    padding-top: 5%;
    font-size: 1.5rem;
    line-height: 1.5;
}

.theme-image{
    width: 20%;
    border-radius: 100%;
    margin: 20px
}

.carousel-item{
    padding: 7% 15%;
}

/* Contact Section */
.contact-heading{
    text-align: center;
}

.fa{
    padding: 10px;
}

.address, .phone, .email{
    padding: 15px 7px;
}

.pset{
    padding-left: 45px;
}

.forms{
    margin-top: 20px;
    padding: 7% 5%;
    background-color: #343A40;
    color: #FFFFFFBF;
}

.forms h3{
    text-align: center;
}

#EmailBtn{
    font-weight: bold;
    border-radius: 7%;
    border: none;
}

#EmailBtn:hover{
    color: #FFFFFFBF;
    background-color: #343A40;
}

.social{
    padding: 7% 15% 5%;
    text-align: center;
}

.social a{
    color: #FF2E63;
}

.social a:hover{
    color: #08D9D6;
}