.events h2{
	margin-bottom: 2rem;
	text-align: center;
	text-decoration: dotted;
}

.events {
    margin: 1rem;
}

.event-card { 
	background-color: #bdd197ad;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.event-card h3 {
    margin-bottom: 0.5rem;
}

.event-card p {
    margin-bottom: 0.5rem;
}